<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Desafio ONE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <br>
  <div class="row">
    <div class="card border-dark col-sm-8">
      <div class="card-header">New Client</div>
      <div class="card-body text-dark">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" [(ngModel)]= "selectedClient.name" id="name" name="name">
            </div>
            <div class="form-group col-md-6">
              <label for="dui">DUI</label>
              <input type="text" class="form-control" [(ngModel)]= "selectedClient.dui" id="dui" name="dui">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="pet">Pet Name</label>
              <input type="text" class="form-control" [(ngModel)]= "selectedClient.pet" id="pet" name="pet">
            </div>
            <div class="form-group col-md-6">
              <label for="treatment">Treatment</label>
              <input type="text" class="form-control" [(ngModel)]= "selectedClient.treatment" id="treatment" name="treatment">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="medicine">Medicine</label>
              <input type="text" class="form-control" [(ngModel)]= "selectedClient.medicine" id="medicine" name="medicine">
            </div>
            <div class="form-group col-md-6">
              <label for="cost">Cost</label>
              <input type="text" class="form-control" [(ngModel)]= "selectedClient.cost" id="cost" name="cost">
            </div>
          </div>
          <button type="submit" class="btn btn-info" (click)="addClientOrEdit()">Save</button>
        </form>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Invoice Detail</h5>
          <form>
            <div class="form-group col-md-12">
              <label for="cost">Visit #</label>
              <input type="text" class="form-control" [(ngModel)]= "selectedClient.visit" id="visit" name="visit" disabled>
            </div>
            <div class="form-group col-md-12">
              <label for="cost">Discount</label>
              <input type="text" class="form-control" [(ngModel)]= "selectedClient.discount" id="discount" name="discount" disabled>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Client</th>
        <th scope="col">DUI</th>
        <th scope="col">Pet</th>
        <th scope="col">Treatment</th>
        <th scope="col">Medicine</th>
        <th scope="col">Cost</th>
        <th scope="col">Visits</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of clientArray">
        <th>{{ data.name }}</th>
        <th>{{ data.dui }}</th>
        <th>{{ data.pet }}</th>
        <th>{{ data.treatment }}</th>
        <th>{{ data.medicine }}</th>
        <th>{{ data.cost }}</th>
        <th>{{ data.visit }}</th>
        <th>
          <button type="button" class="btn btn-dark btn-sm" (click)="showData(data)"  [class.active]="data == selectedClient">New Visit</button>
        </th>
      </tr>
    </tbody>
  </table>
